#chooseFormat {
  max-width: 100%;
  margin: 85px;
}

/* #chooseSection {
  max-width: 100%;
  margin: 85px;
  display: none;
} */

h1 {
  text-align: center;
}

#preview {
  border: 2px solid black;
  padding: 0;
  text-align: justify;
  overflow: hidden;
  word-break: break-word;
  margin-left: 110px;
}

#templatePreview .left {
  float: left;
  clear: left;
}

#templatePreview .right {
  float: right;
  clear: right;
}

#templatePreview .top.left {
  shape-outside: radial-gradient(
    ellipse at bottom right,
    transparent 69%,
    red 69%
  );
  /* height: 50%;
  width: 50%; */
}

.top.right {
  shape-outside: radial-gradient(
    ellipse at bottom left,
    transparent 69%,
    red 69%
  );
  /* height: 50%;
  width: 50%; */
}

.bottom.left {
  shape-outside: radial-gradient(
    ellipse at top right,
    transparent 69%,
    red 69%
  );
  /* height: 50%;
  width: 50%; */
}

.bottom.right {
  shape-outside: radial-gradient(ellipse at top left, transparent 69%, red 69%);
  /* height: 50%;
  width: 50%; */
}

.property {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.propertyHeader {
  font-weight: bold;
}

.propertyValue {
  width: 55px;
}

#templatePreviewContainer {
  padding-left: 10%;
}

#templatePreview {
  border: 1px solid black;
  height: 500px;
  width: 500px;
  padding: 0;
  text-align: justify;
  overflow: hidden;
  word-break: break-word;
  font-family: Georgia;
}

.btn {
  background-color: #ec8b28;
  border-color: #ec8b28;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#mainHeader {
  font-size: 28px;
  white-space: nowrap;
  font-weight: bold;
  font-family: Georgia;
}

.subHeader {
  font-size: 25px;
  font-weight: bold;
  white-space: nowrap;
}

.subContentPreview {
  font-size: 20px;
}

#dotRounded {
  position: relative;
  top: -500px;
  width: 500px;
  height: 500px;
  border: 1px dashed black;
}

.movablePoint {
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  border: 1px solid black;
}

.movablePoint:hover {
  cursor: pointer;
  background-color: cornflowerblue;
  border-color: cornflowerblue;
}

#movableTopLeft {
  top: -8px;
  left: -8px;
}

#movableTopRight {
  top: -8px;
  left: 492px;
}

#movableBottomRight {
  top: 492px;
  left: 492px;
}

#movableBottomLeft {
  top: 492px;
  left: -8px;
}

.crossLineThin {
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
  display: none;
}

.crossLineThick {
  border: 2px solid black;
}

.warningHeader {
  display: none;
  font-weight: bold;
}

.warningDetail {
  display: none;
}

#secondHeader {
  font-size: 20px;
  font-weight: bold;
}

#purposeList .row {
  justify-content: space-between;
  margin-bottom: 10px;
}

.subHeaderInput {
  margin-top: 10px;
  margin-bottom: 10px;
}

.warningContent {
  display: flex;
  align-items: baseline;
}

.indentedRow {
  margin-left: 10px;
}

#purposeHeader {
  display: none;
  position: relative;
  right: -35%;
}

.purposeDetail {
  position: relative;
  right: -35%;
  background: white;
}

#chooseSectionsAndFillTheDetails {
  margin-right: 17%;
}

#chooseSectionsAndFillTheDetails .row {
  margin-left: 0px;
  margin-right: 0px;
}

.sectionTitle {
  font-size: 25px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 17%;
}

#settingCollapseRight {
  display: none;
}

#contentCollapseRight {
  display: none;
}

#fontSetting {
  margin-right: 20%;
  margin-left: 10px;
}

.bold {
  font-weight: bold;
  border: 1px solid black;
  height: 30px;
  width: 30px;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
}

.italic {
  font-style: italic;
  height: 30px;
  width: 30px;
  text-align: center;
  cursor: pointer;
}

.fontSizeSetting {
  width: 55px;
  margin-right: 10px;
}

.fontFamilySetting {
  margin-right: 10px;
}

#headerFontSetting {
  /* margin-left: 0px; */
}

.subSection {
  font-size: 18px;
}

.content {
  font-size: 18px;
}

#fontSetting .row {
  margin-bottom: 5px;
}